$red: #c02f27;
$blue: #2679aa;
$green: #25a45d;
$yellow:#FFEB3B;
$trans: transparent;
$white: #ffffff;
$light: #f5f5f5;
$ccc: #cccccc;
$black: #000;
$dark: #222;
$halfblack:rgba(black, 0.5);
$halfwhite:rgba(white, 0.5);