#main-table {
  margin-top: rem(20);
  position: relative;

  @include mq('sm') {
    margin-top: 0;
    overflow: hidden;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    @include mq('sm') {
      width: 100%;
      display: block;
    }

    thead {
      @include mq('sm') { display: none; }

      tr {

        th {
          padding: rem(10);
          text-align: left;
        }

        &.header {
          text-align: left;
          background: $blue;
          color: $white;

          th:first-child {
            @include border-radius(15px 0 0 15px);
            text-indent: rem(50);
          }
          th:last-child {
            @include border-radius(0 15px 15px 0);
          }

          th:nth-child(2) {
            text-indent: rem(20);
          }
          th:nth-child(3) {
            text-indent: rem(50);
          }
          th:nth-child(4) {
            text-indent: rem(20);
          }
        }

        &.subheader {

          th {
            text-align: center;
            position: relative;

            &:before {
              content: '';
              display: block;
              position: absolute;
              height: 1px;
              z-index: -1;
              top: rem(25);
              width: 100%;
              @include mq('lg') { border-bottom: 1px solid $ccc; }
            }

            &:last-child:before { border:0; }
            &:nth-child(3) {

              span {
                padding-bottom: rem(5);
                position: relative;
                left: rem(24);
              }
            }

            span {
              background: $white;
              display: block;
              font-size: rem(11);
              padding-left: rem(21);
              width: rem(70);
            }

            &:nth-child(1) { text-align: left; }
            &:nth-child(2) { text-align: left; }
            &:nth-child(3) { text-align: left; }
          }
        }
      }
    }

    tbody {
      @include mq('sm') { display: block; }

      tr {

        @include mq('sm') {
          width: 100%;
          display: block;
          position: relative;
        }

        td {
          border-bottom:1px solid $ccc;
          padding: rem(10) 0;

          @include mq('sm') { display: block; }

          label { display: none; }

          @include mq('sm') { border-bottom: none; }

          &:first-child {
            @include mq('sm') {
              border-bottom: 1px solid $ccc;
            }
          }

          &.project-column {

            .project-box {
              position: relative;

              .pipe-gfx {
                position: absolute;
                top: rem(-15);
                right: rem(-40);
                width: rem(80);
                height: rem(80);
              }

              @include mq('sm') {
                .pipe-gfx { display: none; }
                .project-flag {
                  .click-zone {
                    top: rem(50);
                    width: 25%;
                    display: none;
                  }
                }
              }
            }
          }

          &.build-column {
            @include mq('sm') {
              @include flex-container;
              background: $light;

              padding: rem(10) rem(5);
              padding-right: rem(20);
              display: none;

              &:last-child {border-bottom: 1px solid $ccc;}
            }

            .build-details,
            .deployment-details {
              position: relative;
              left: rem(10);
              @include mq('sm') {
                @include flex-container;
                justify-content: flex-end;
              }
              .status-badge {
                min-width: rem(70);
              }
            }

            .build-details {
              @include mq('sm') {
                border-top: 1px solid $ccc;
                border-bottom: 1px solid $ccc;
                padding-top: rem(20);
                padding-bottom: rem(10);
              }
            }

            .deployment-details {
              @include mq('sm') {
                label {
                  margin-top: rem(5)
                }
              }
            }

            .build-links {
              @include mq('sm') {
                @include flex-container;
                padding: rem(10) 0;
                margin-bottom: rem(10);
                margin-left: rem(10);
                justify-content:flex-end;

                span {
                  @include fbox(1);
                  a {
                    text-decoration: none;
                    color: $black;
                    display: block;
                  }
                  &:first-child {
                    width: 100%;
                  }
                  &:nth-child(2) {
                    text-align: center;
                    width: rem(120);

                  }
                  &:nth-child(3) {
                    text-align: center;
                    width: rem(120);
                    margin-left: rem(10)
                  }
                }
              }
            }

            label {
              @include mq('sm') {
                display: block;
                width: 100%;
              }
            }

            .status-badge {
              margin-left: rem(20);
              margin-bottom: rem(10);

              @include mq('sm') {
                display: inline-block;
                width: rem(70);
                margin: 0 0 0 rem(5);
              }

            }

            label,
            .status-badge {
              @include mq('sm') {
                @include fbox();
              }
            }
          }


          &.release-column {

            @include mq('md') {
              position: relative;
              left: rem(55);
            }

            @include mq('sm') {
              position: absolute;
              top: rem(9);
              right: rem(5);
            }

            @include mq('lg') {
              position: relative;
              left: 0;
            }

            .meta-label {
              margin: auto;
              margin-bottom: rem(10);
              text-align: left;

              @include mq('lg') {
                text-indent: rem(55);
              }
              @include mq('sm') {
                display: inline-block;
                margin-bottom: 0;
                width: rem(76);
                text-align: left;
                i.fa { margin-right: rem(5) }

                .click-zone {
                  top: rem(50);
                  width: rem(75);
                  display: none;
                }
              }
            }
          }
        }

        &.open {

          td.release-column
          .meta-label
          .click-zone { display: none; }

          td.project-column
          .project-box
          .project-flag
          .click-zone { display: none; }

          td.build-column {
            display: block;

            @include mq('sm') {
              &.top {
                @include shadow(inset 0 1px 1px 0 $ccc);
              }

              .build-details .status-badge {
                top: rem(-5);
              }
            }

            @include mq('lg') {
              display: table-cell;
            }
            @include mq('md') {
              display: table-cell;
            }
          }
        }
      }
    }
  }
}