body {
  font-family: 'Encode Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

// Special
::-moz-selection { background: $yellow; }
::selection { background: $yellow; }

.text-right { text-align: right; }
.text-left { text-align: left; }

// Grid
.container {
  width: $app-width-lg;
  @include mq('sm') { width: $app-width-sm; }
  @include mq('md') { width: $app-width-md; }

  margin: auto;
}

.flex,
.flex-container {
  @include flex-container;

  &.start { justify-content:flex-start; }
  &.reverse { flex-direction:row-reverse; }
  &.nowrap { flex-wrap: nowrap; }
  &.wrap { flex-wrap: wrap; }
  &.spaced { justify-content:space-between; }
  &.justify { justify-content:flex-start; }
  &.valign { align-items: stretch }

  .box,
  .fbox { @include fbox(1); }
}

.mobile-only {
  display: none;
  @include mq('sm') { display: block; }
}

.click-zone {
  position: absolute;
  background: $trans;
  width: 100%;
  height: 100%;
  display: block;

  @include mq('sm') {
    display: none;
  }
}

// Typography
.bold { font-weight: bold }
.italic { font-style: italic; }
.sans { font-family: $sans; }
.serif { font-family: $serif; }