# App artifacts
/_build
/db
/deps
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs
*.log
*.swp
*.DS_Store
flow-typed/
config/dev.secrets.exs
uploads
# dont include compiled lib subdirectories but *do* include bling files 
lib/*/
# do include bling subdirectorys
!/lib/bling
!/lib/api
.env
/tmp
#too big to include, use the tar file
bidlily.sql
# keep secrets out
/config/dev.secret.exs
/config/test.secret.exs
/config/prod.secret.exs
# kerl erlang files
Install
activate
bin/
erts-7.0/
misc/
releases/
usr/
# # dont include compiled priv subdirectories but *do* include bling files 
# priv/*/
# # dont include compiled priv files that exist directly in the priv directory
# priv/*
# # do include the repo subdirectory
# !/priv/repo
# # do include the font subdirectory
!/priv/fonts
# # do include the images subdirectory
!/priv/images

# test plug
lib/conn_interceptor.ex
history.txt
*.patch
20.1
18.0
